<f:form.hidden name="orderForm[lastname]" value="{orderForm.lastname}" />
<f:form.hidden name="orderForm[firstname]" value="{orderForm.firstname}" />
<f:form.hidden name="orderForm[street]" value="{orderForm.street}" />
<f:form.hidden name="orderForm[postcode]" value="{orderForm.postcode}" />
<f:form.hidden name="orderForm[city]" value="{orderForm.city}" />
<f:form.hidden name="orderForm[country]" value="{orderForm.country}" />
<f:form.hidden name="orderForm[product]" value="{orderForm.product.uid}" />
<f:form.hidden name="product" value="{orderForm.product.uid}" />
