<div class="mb-3">
    <label for="orderFormLastname" class="form-label"><f:translate key="plugin.easyshop_orderform.lastname" extensionName="easyshop" /></label>
    <f:form.textfield property="lastname" id="orderFormLastname" class="form-control" readonly="true" />
</div>
<div class="mb-3">
    <label for="orderFormFirstname" class="form-label"><f:translate key="plugin.easyshop_orderform.firstname" extensionName="easyshop" /></label>
    <f:form.textfield property="firstname" id="orderFormFirstname" class="form-control" readonly="true" />
</div>
<div class="mb-3">
    <label for="orderFormStreet" class="form-label"><f:translate key="plugin.easyshop_orderform.street" extensionName="easyshop" /></label>
    <f:form.textfield property="street" id="orderFormStreet" class="form-control" readonly="true" />
</div>
<div class="mb-3">
    <label for="orderFormPostcode" class="form-label"><f:translate key="plugin.easyshop_orderform.postcode" extensionName="easyshop" /></label>
    <f:form.textfield property="postcode" id="orderFormPostcode" class="form-control" readonly="true" />
</div>
<div class="mb-3">
    <label for="orderFormCity" class="form-label"><f:translate key="plugin.easyshop_orderform.city" extensionName="easyshop" /></label>
    <f:form.textfield property="city" id="orderFormCity" class="form-control" readonly="true" />
</div>
<div class="mb-3">
    <label for="orderFormCountry" class="form-label"><f:translate key="plugin.easyshop_orderform.country" extensionName="easyshop" /></label>
    <f:form.textfield property="country" id="orderFormCountry" class="form-control" readonly="true" />
    <div class="form-text"><f:translate key="plugin.easyshop_orderform.country.help" extensionName="easyshop" /></div>
</div>
